:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(240, 202, 252);
    --accent2-color: rgb(130, 204, 238);
    --body-font: Arial, Helvetica, sans-serif;
    --color-in-background: #f3fbff;
    --background-color: #122A35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
}

header img {
    width: 200px;
    padding: 20px;
    position: relative;
    left: 70px;
    border-radius: 30px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;

    border: 1.1px solid black;
    background-color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;

}

body {
    font-family: var(--body-font);
    color: var(--color-in-background);
}



h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}




article {
    position: absolute;
    top: 13rem;
    width: 20rem;
    border: 1px outset var(--secondary-color);
    border-radius: 8px;
    color: rgb(0, 97, 97);
    background-color: rgba(238, 247, 235, 0.5);
    width: 96%;
    font-weight: 600;
}




footer {

    /* border-top: 1px solid rgb(184, 184, 184); */
    background-color: var(--accent2-color);
    height: 90px;

}

footer div {
    margin-top: 0.3rem;
    position: relative;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 0.8rem;
}

footer p {
    display: flex;
    justify-self: right;
    align-items: center;
}

footer p,
.socialmedia {
    margin: 1rem 0.5rem;
    padding: 0;
    bottom: 1rem;
}



/* Multiple */

header,
main,
footer,
.examples {
    width: 840px;
    margin: 0 auto;

}



/* main here to put space between header and main */
main {
    margin-top: 5px;
}


h1,
h2 {
    font-family: var(--body-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}


/* Selectors */



.history {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background-color);

}

.history p {
    align-self: center;
    margin: 2px;
    padding: 0;
    padding-left: 1rem;

}

.historytittle {
    grid-column: 1/4;
}

.history img {
    width: 14rem;
    border-radius: 1rem;
    justify-self: center;
    margin-top: 2rem;
    /* The one on the top margin-top makes the history position to have a margin on the top */
    margin-bottom: 2rem;
}


.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}


.socialmedia a {
    text-decoration: none;
    width: 4rem;
    display: flex;
    justify-self: right;
    align-items: center;

}

.socialmedia img {
    width: 2rem;
}

.hero {
    position: relative;

}

.hero h1,
.hero article {
    position: absolute;

}

.hero article img {
    float: right;
    width: 145px;
    border-radius: 5%;
}


.hero img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



.examples {
    margin-top: 5px;
    position: relative;
    padding: 0;
    height: 302px;
    background-color: var(--background-color);


}

.examples2 {

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    padding: 10px;
    margin: 15px;
    place-items: center;
    margin-top: 22px;
    text-align: center;

}


.examples img {
    width: 120px;
    height: 105px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 6px;

}