:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(240, 202, 252);
    --accent2-color: rgb(130, 204, 238);
    --body-font: Arial, Helvetica, sans-serif;
    --background-color: rgb(56, 69, 75);

    --border-color-alternative: rgb(23, 151, 211);
}

*,
.center {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: var(--secondary-color);
    color: rgb(36, 36, 36);
    font-weight: 700;
}



header {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
}

header img {
    width: 200px;
    padding: 20px;
    position: relative;
    left: 70px;
    border-radius: 30px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1.1px solid black;
    background-color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;

}

body {
    font-family: var(--body-font);
}



h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;

}




article {
    position: absolute;
    top: 13rem;
    border: 1px outset var(--secondary-color);
    border-radius: 8px;
    color: rgb(0, 97, 97);
    background-color: rgba(238, 247, 235, 0.5);
    width: 96%;
    font-weight: 600;
}




footer {

    /* border-top: 1px solid rgb(184, 184, 184); */
    background-color: var(--accent2-color);
    height: 90px;

}

footer div {
    margin-top: 0.5rem;
    position: relative;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 0.8rem;
}

footer p {
    display: flex;
    justify-self: right;
    align-items: center;
}


aside {
    width: 17rem;
    top: 10px;
    position: fixed;
    top: 20rem;
}

footer p,
.socialmedia {
    margin: 1rem 0.5rem;
    padding: 0;
    bottom: 1rem;
}



/* Multiple */

header,
main,
footer,
.examples {
    width: 840px;
    margin: 0 auto;

}



/* main here to put space between header and main */
main {
    margin-top: 5px;
}


h1,
h2 {
    font-family: var(--body-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}


/* Selectors */




.history {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background-color);
    color: white;
}

.history p {
    align-self: center;
    margin: 2px;
    padding: 0;
    padding-left: 1rem;

}

.historytittle {
    grid-column: 1/4;
}

.history img {
    width: 14rem;
    border-radius: 1rem;
    justify-self: center;
    margin-top: 2rem;
    /* The one on the top margin-top makes the history position to have a margin on the top */
    margin-bottom: 2rem;
}


.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}


.socialmedia a {
    text-decoration: none;
    width: 4rem;
    display: flex;
    justify-self: right;
    align-items: center;

}

.socialmedia img {
    width: 2rem;
}

.hero {
    position: relative;

}

.hero h1,
.hero article {
    position: absolute;

}

.hero article img {
    float: right;
    width: 145px;
    border-radius: 5%;
}


.hero img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



.examples {
    margin-top: 5px;
    position: relative;
    padding: 0;
    height: 302px;
    color: white;
    background-color: var(--background-color);
}

.examples2 {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    margin: 15px;
    place-items: center;
    margin-top: 44px;
    text-align: center;

}


.examples img {
    width: 120px;
    height: 105px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 6px;

}




/* The contact Information */



.address h1 {
    padding: .6rem 0 0 0;
    /* Take off the red thing */
    background-color: unset;
    font-size: 1.4rem;
    opacity: 1;
    position: inherit;

}

.address h2 {
    width: 100%;
    padding: 0 0 1rem 0;
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    background-color: unset;
    opacity: 1;
}

.contact {
    margin: 0;
    padding: 0 0 .3rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}




.map {
    border: none;
    width: 300px;
    height: 300px;
}




.q1 input,
.q2 input {

    margin: .2rem;
    padding: .3rem;
    width: 15rem;
    margin-left: 2rem;
}

.q1 input form,
.q2 input form {

    padding: 0 0.3rem 0.1rem;
    font-size: .8rem;
    margin-left: 2rem;
}


.q2 input {
    margin-left: 2.1rem;
}



.c1,
.c2,
.c3 {
    padding: .3rem 0;

}


form {
    margin-left: 3rem;
    font-size: .7rem;
}


fieldset {
    border: none;
}


.purpose {
    display: flex;
    align-items: center;
    margin: .4rem 0;
}


.purpose p {
    margin-left: -.5rem;
    /* o nada */
}


.separate-text {
    /* absolute to center it */
    position: absolute;
    margin-left: .4rem;
}

textarea {
    resize: none;
}

.message textarea {

    display: block;
    width: 19.2rem;
    margin: .2rem 0;
}

#message::placeholder {
    padding: 0.1rem;
    padding-left: 0.4rem;
}


.check {
    display: flex;
    padding: .4rem 0;

}

.check-text {
    padding-left: .4rem;
}



button {
    background-color: rgb(245, 242, 242);
    border: 2px solid rgb(155, 155, 155);
    border-radius: .4rem;
    width: 19.2rem;
    padding: .3rem 0;

}


button:hover {
    background-color: var(--secondary-color);
}



.examples-employees {
    background-color: rgb(245, 242, 242);
    height: 190px;
    border: 2px solid rgb(155, 155, 155);
}


.examples3 {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
    place-items: center;
    margin-top: 0px;
    text-align: center;
    font-size: 0.9rem;
}




.employee-heading {
    color: rgb(0, 0, 0);
    background-color: unset;
    opacity: 1;
    padding: 0.5rem;
}







/* INDEX.HTML */


.sign {
    position: absolute;
    top: 14rem;
    left: 12.9rem;
    padding: 1rem 0.3rem;
    border: 1px outset var(--secondary-color);
    border-radius: 8px;
    background-color: rgba(238, 247, 235, 0.5);
    width: 40%;
    font-weight: 600;
    font-size: 1.3rem;

}

.log-title {
    margin-block: .7rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}


.submit-sign,
.log-title {
    text-align: center;
}




.adventure {
    background-color: rgb(248, 248, 248);
    margin: 2rem 0;
    height: 350px;
    border-top: 2px solid var(--accent2-color);
    border-bottom: 2px solid var(--accent2-color);
}


.adventure-container {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.6rem;
    text-align: center;
    font-size: 0.9rem;

}


.adventure-heading {

    background-color: var(--accent2-color);
    opacity: 1;
    padding: 0.5rem;
    margin-top: 1.8rem;

}


.examples .adventure-container img,
.trip-container img {
    width: 220px;
    height: 135px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid var(--accent2-color);
    border-radius: 6px;

}


.offering,
.offering div {
    display: flex;
    justify-content: space-around;
}

.offering div {
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    height: 350px;
    border: thick double var(--border-color-alternative);
    width: 19rem;
    align-items: center;
    text-align: center;
}

.offering div img {
    width: 12rem;
    height: 130px;
}



.requirements {
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    height: 9rem;
    border: dashed var(--secondary-color);
    align-items: center;
    text-align: center;

}

.requirements h2 {
    background-color: var(--secondary-color);
}

.requirements ul {
    padding: 1rem;
    margin-left: 1rem;
}


.requirements li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

section a {
    text-decoration: none;
}




/* trips.HTML */


.trip {
    background-color: rgb(248, 248, 248);
    margin: 2rem 0;
    height: 400px;
    border: 2px solid var(--accent2-color);
}

.trip h1 {
    display: grid;

}

.trip-container {
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7rem;
    text-align: center;
    font-size: 0.9rem;

}


.trip-container img {
    width: 220px;
    height: 135px;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid var(--border-color-alternative);
    border-radius: 6px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.trip-text,
.invitation h2 {
    background-color: unset;
}

.trip-text {
    font-size: 0.8rem;

    opacity: 1;
    border-bottom: 1px dotted rgb(190, 190, 190);
}

.invitation {
    display: flex;
    height: 24.3rem;
}

.invitation h2 {
    writing-mode: sideways-lr;
}

.invitation div {
    position: absolute;
    left: 30rem;
}

.invitation img {
    border-radius: 113rem;
}


.league {
    display: flex;
    justify-content: center;
    padding-right: 3rem;
    margin-bottom: 1.4rem;
}

.table-cost {
    border-top: 2px solid rgb(190, 227, 248);
    display: flex;
    justify-content: center;
    margin-right: 3.5rem;

}

.table-cost2 {
    margin-top: 1.2rem;
}