:root {
    --primary-color: rgb(67, 163, 207);
    --secondary-color: rgb(240, 202, 252);
    --accent1-color: #264653;
    --accent2-color: #eef7eb;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 5px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;

}

header img {
    width: 200px;
    padding: 20px;
    position: relative;
    left: 70px;
    border-radius: 30px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.5 rem;
    font-size: 1.1rem;
    font-weight: 500;

    border: 1.1px solid black;
    background-color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}



h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}


article {
    position: absolute;
    top: 13rem;
    width: 20rem;
    border: 1px outset var(--secondary-color);
    border-radius: 8px;
    color: rgb(0, 97, 97);
    background-color: rgba(238, 247, 235, 0.5);
    width: 96%;
    font-weight: 600;
}




footer {

    border-top: 1px solid rgb(184, 184, 184);

}

footer div {
    position: relative;
    transform: scale(0.7);
    transform-origin: top left;
}



/* Multiple */

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--body-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}


/* Selectors */

.history {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;

}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.socialmedia a {
    text-decoration: none;

}

.socialmedia img {

    width: 5rem;
}

.hero {
    position: relative;

}

.hero h1,
.hero article {
    position: absolute;

}

.hero article img {
    float: right;
    width: 145px;
    border-radius: 5%;
}


.hero img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}