:root {
    --color-neutre: rgb(230, 230, 230);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border: 1px solid rgb(70, 70, 70);
    margin: 1rem;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}



thead tr,
tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
}

.resalted {
    background-color: rgb(233, 230, 230);
}