body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed rgb(0, 255, 255);
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    width: 250px;
    margin: 2rem;
    border: 5px solid rgba(255, 6, 6, 0.2);
    padding: 0.5rem;
    background-color: #bbb;
    color: #a30000;
}

.item1 {
    min-height: 300px;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
}