:root {
    --heading-similar-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    width: 840px;
    margin: auto;
}

header,
.grid,
footer {
    margin: auto;
    max-width: 840px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 0.5 rem;
    font-size: 1.2rem;
    font-weight: 700;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}


main img {
    width: 150px;
    height: auto;
}

aside {
    width: 20em;
    margin: 10px;
    border: 1px solid black;
    padding: 18px;
    background-color: #DCEFFF;
    color: rgb(59, 58, 58);
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    color: white;
    left: 55px;
}


footer {
    margin-top: 1.5rem;
    border-top: 1px solid black;
    text-align: center;
}

nav {
    background-color: var(--heading-similar-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-similar-color);
    margin: 0.5rem;
    border-bottom: 1px solid black
}

main {
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
    margin: 1rem;
}

/* Class Selectors */

.box {
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    background-color: rgb(202, 244, 252);
    border: 2px solid black
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}