:root {
    --heading-similar-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
}

main {

    margin: 0 auto;
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 330px;
    margin: 10px;
    border: 1px solid black;
    padding: 18px;
    background-color: #DCEFFF;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}


footer {
    margin-top: 1.5rem;
    border-top: 1px solid black;
    text-align: center;
}

nav {
    background-color: var(--heading-similar-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-similar-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}