* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

:root {
--color-dark-blue: darkblue;
--color-white: #ffffff;
--color-grey: #333333;
--color-black: #000000;
--color-orange-light: rgb(231, 135, 135);
}

header, .grid, footer {
max-width: 840px;
margin: 0 auto;
}

body {
font-family: Roboto, Arial, sans-serif;
font-size: 16px;
color: var(--color-grey);
background-color: #fff;
}

nav {
background-color: var(--color-dark-blue);
padding: 1rem;
display: flex;
justify-content: space-evenly;
align-items: center;
}

nav a {
display: block;
padding: 0.5rem;
text-decoration: none;
font-size: 1.1rem;
font-weight: 700;
color: var(--color-white);
}

h1 {
color: var(--color-dark-blue);
padding: 0.5rem;
border-bottom: 1px dashed var(--color-grey);
margin-bottom: 0.5rem;
}

.grid {
display: grid;
grid-template-columns: 20rem 1fr;
grid-template-areas: "aside main";
gap: 1rem;
align-items: start;
padding: 1rem 0;
}

aside { grid-area: aside; }
main  { grid-area: main; }

main {
margin: 0;
}

main img {
float: right;
width: 150px;
height: auto;
margin: 0 0 1rem 1rem;
border: 1px solid var(--color-black);
padding: 2px;
box-shadow: 0 0 30px var(--color-grey);
background-color: var(--color-white);
}

main::after {
content: "";
display: table;
clear: both;
}

.aside-box {
padding: 1rem;
text-align: center;
background-color: var(--color-white);
color: var(--color-grey);
border: 1px solid var(--color-black);
}

.aside-box img {
width: 200px;
height: auto;
margin-top: 0.5rem;
display: block;
margin-left: auto;
margin-right: auto;
position: static;
}

.box {
margin: 1rem 0;
border: 1px solid rgba(0,0,0,0.1);
background-color: var(--color-orange-light);
padding: 1rem;
color: var(--color-grey);
}

.indent {
padding-left: 2rem;
}

footer {
margin-top: 15px;
border-top: 1px solid var(--color-black);
text-align: center;
padding: 0.5rem 0;
}
