.callout {
	width: 450px;
    margin: 20px;
    border: 1px solid #000000;
    padding: 15px;
    background: rgb(0, 0, 110);
    color:rgb(255, 255, 255);
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: white;
    width: 110px;
    height: auto; 
}

blockquote {
    margin: 0;
}

cite {
	display: block;
    border: 1px dotted #fff;
    padding: 3px;
    text-align: right;
    size font: smaller;
}