*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer{
    background-color: rgb(88, 88, 88);
    padding: 1px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 750px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 400px;
    margin: 0 auto;

}

h1{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

img{
    width: 100%;
    margin: auto;
    box-shadow: 0 0 60px rgb(90, 90, 90);
}

section{
    margin: 20px 0;
    background-color: rgb(211, 211, 211);
    padding: 3px 20px;
    font-size: 0.9rem;
    border: 1px solid rgb(0 0 0 / 10%)
}

section p{
    padding: 0px 6px;
}

h2{
    border-bottom:1px solid rgb(0, 0, 0);
}

ul{
    margin: 10px 15px;
}

footer{
    font-size: 0.9rem;
    
}